
body {
    margin: 0
}

header {
    display: flex;
    background-color: lightgray;
    height: 150px;
}

span {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 10px;
    left: 10px;
    background-color: dodgerblue;
}

section {
    position: fixed;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: stretch;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(31, 8, 8);
}

main {
    height: 250px;
}

.horizontals {
    height: 200px;
}

.whitetext {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 8%;
    right: 8%;
}

#blue {
    background-color: dodgerblue;
}

#teal {
    background-color: teal;
}

#green {
    background-color: olive;
}

#yellow {
    background-color: gold;
}